/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: center;
  background-color: #25252b;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.box {
  position: relative;
  background: repeating-conic;
} */